<div class="container">
	<div class="flex">
	  <div class="flex-item">
		<div style="display: block;">
		<canvas baseChart
			[datasets]="lineChartData"
			[labels]="lineChartLabels"
			[options]="lineChartOptions"
			[legend]="lineChartLegend"
			[chartType]="lineChartType"
			[plugins]="lineChartPlugins"></canvas>
		</div>
	  </div>
	</div>
</div>