﻿<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav col-md-10">
        <button mat-icon-button style="position:absolute;z-index:100;margin-top:-20px;color:white!important;" *ngIf="currentUser && !showCloseButton">
		  <mat-icon (click)="sidenav.toggle() && showCloseButton = !showCloseButton">close</mat-icon>
		</button>
		<button mat-icon-button style="position:absolute;z-index:100;margin-top:-20px;color:white!important;" *ngIf="currentUser && showCloseButton">
		  <mat-icon (click)="sidenav.toggle() && showCloseButton = !showCloseButton">menu</mat-icon>
		</button>
    </div>
    <div class="navbar-nav col-md-2" style="color:#fff!important;justify-content:flex-end!important;">
        <i class="fa fa-2x fa-user-circle-o"></i><span style="margin-left:10px;margin-right:10px;">{{currentUser.firstName}} {{currentUser.lastName}}</span>
    </div>
</nav>

<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<mat-nav-list>
			<a mat-list-item (click)="showFiller = !showFiller"><i class="fa fa-list" style="margin-right:10px;"></i> Меню </a>
				<a mat-list-item *ngIf="showFiller" (click)="sidenav.toggle() && showFillerChild = !showFillerChild && showCloseButton = !showCloseButton" style="padding:15px;" routerLink="/"><i class="fa fa-table" style="margin-right:10px;"></i> Таблица </a>
				<a mat-list-item *ngIf="showFiller" (click)="sidenav.toggle() && showFillerChild = !showFillerChild && showCloseButton = !showCloseButton" style="padding:15px;" routerLink="/charts"><i class="fa fa-bar-chart" style="margin-right:10px;"></i> График </a>  
			<a mat-list-item (click)="sidenav.toggle() && logout()" href="" mat-list-item  style="padding-top:15px;" *ngIf="!showFiller2_2"><i class="fa fa-sign-out" style="margin-right:10px;"></i> Выход </a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div style="height:95vh;overflow:hidden;">
		  <router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>