@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a { cursor: pointer }

.mat-drawer-inner-container{
	background: #fff;
	max-width: 680px;
	min-width: 300px;
}

.mat-nav-list{
	margin-top: 15px;
}

.mat-list-item-content{
	background: transparent;
	transition: all .5s;
	margin-top: -15px;
}

.mat-tab label{
	width: 150px;
}

.mat-sort-header-arrow {
  color: black!important;
}

.mat-column-position{
	max-width: 70px!important;
}