﻿<div style="margin-left:20px;">
	<mat-form-field>
		<mat-label><i class="fa fa-search"></i> Фильтр</mat-label>
		<input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Введите значение">
	</mat-form-field>
</div>
<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

	<ng-container matColumnDef="position" [ngClass]="col-md-2">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> №. </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="do">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> ДО </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.do}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="field">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> Месторождение </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.field}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="ks">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> КС </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.ks}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="ku">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> КУ </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.ku}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="date">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="value">
	  <mat-header-cell *matHeaderCellDef mat-sort-header> Значение </mat-header-cell>
	  <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>